body    {
    padding: 0px;
    margin: 0px;
    font-size: 15px;
    color: black;
}
.header {
    padding: 2em;
}
.container  {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.nav_bar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px;
    border: 1px solid transparent;
    float: left;
    width: 80%;
}
h1.nav_brand a {
    text-decoration: none;
    color: #000;
}
.nav_bar_header {
    float: left;
    width: 35%;
    margin-top: 1em;
}
.navbar-nav > li > a {
    color: black;
    text-transform: uppercase;
}
#content    {
    margin: 5% 15%;
}
#main{
    width: 700px;
    position: relative;
    left: 20%;
}
ul{
    list-style-type: none;
}
.date_time{
    top: -40px;
    float: right;
    position: relative;
    font-size: 17px;
}
.comments_num{
    width: 100%;
}
.post_author li{
    width: 700px;
    height: 150px;
    padding: 2em 0;
}
.post_comments{
    float: right;
}
.main_post{
    padding: 1em 0;
}
/*slider start*/
body {
    margin: 0;
    padding: 0;
}

#block-for-slider {
    width: 80%;
    margin: 0 auto;
    margin-top: 100px;
}

#viewport {
    width: 100%;
    position: relative;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    text-align: left;
}

#slidewrapper {
    position: relative;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    -webkit-transition-timing-function: cubic-bezier(.67,.01,.23,1);
    -o-transition-timing-function: cubic-bezier(.67,.01,.23,1);
    transition-timing-function: cubic-bezier(.67,.01,.23,1);
}

#slidewrapper, #slidewrapper ul, #slidewrapper li {
    margin: 0;
    padding: 0;
}

.slide {
    list-style: none;
    display: inline;
    float: left;
}

.slide-img {
    width: 100%;
}


#prev-btn:hover, #next-btn:hover {
    cursor: pointer;
}

#prev-btn {
    left: 20px;
}

#next-btn {
    right: 20px;
}

#nav-btns {
    width: 100%;
    bottom: 20px;
    padding: 0;
    margin: 0;
    text-align: center;
}

.slide-nav-btn {
    position: relative;
    display: inline-block;
    list-style: none;
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
    margin: 3px;
}

.slide-nav-btn:hover {
    cursor: pointer;
}
/*end of slider*/